h1{
color: rgb(59, 158, 13);
font-family: Arial;
font-weight: bold;
}
body{
background-image: url(https://gaming-cdn.com/images/products/15888/orig/uncharted-drake-s-fortune-remake-pc-game-cover.jpg?v=1749197865);
background-size: 100% 100%;
background-repeat: no-repeat;
height: 100vh ;
text-align: center;
margin: 0;
padding: 0;
}
h4{
color: rgb(43, 55, 40);
background-color: rgba(134, 167, 128, 0.751);
border: 3px solid rgba(31, 41, 31, 0.442);
border-radius: 10px;
overflow: auto;
height: 200px;
width: 1000px;
}
header{
color: rgb(22, 98, 29);
background-color: rgb(34, 63, 31);
text-align: center;
font-size: 50px;
font-weight: bolder;
height: 100px;
width: auto;
font-family:Arial ;
}
nav{
font-weight: bold;
color: rgb(8, 31, 12);
background-color:rgb(34, 63, 31) ;
font-size: 30px;
text-align: center;
font-family: Arial;
display: flex;
justify-content: space-around;
text-decoration: none;
}
a{
    text-decoration: none;
    color: rgb(10, 32, 14);
}
::-webkit-scrollbar{
background-color: rgba(34, 63, 31, 0.753);

}
::-webkit-scrollbar-thumb{
    background-color: rgba(33, 126, 22, 0.753);
border-radius: 5px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.morkovka{
    color: rgb(131, 181, 123);
    text-decoration: underline;
    text-decoration-color: rgb(131, 181, 123);
}





