body{
background-image: url(https://image.api.playstation.com/vulcan/img/rnd/202010/2620/eIO6Ka26JChNo8KaFi7wON4L.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 150px; ;
text-align: center;
margin: 0;
padding: 0;
}
nav{
font-weight: bold;
color: rgb(8, 31, 12);
background-color:rgb(22, 67, 86) ;
font-size: 30px;
text-align: center;
font-family: Arial;
display: flex;
justify-content: space-around;
text-decoration: none;
}
header{
color: rgb(6, 27, 46);
background-color: rgb(22, 67, 86);
text-align: center;
font-size: 50px;
font-weight: bolder;
height: 100px;
width: auto;
font-family:Arial ;
}
h4{
color: rgb(2, 17, 21);
background-color: rgba(10, 95, 111, 0.579);
border: 3px solid rgba(8, 51, 69, 0.442);
border-radius: 10px;
overflow: auto;
height: 200px;
width: 1000px;}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
color: rgb(10, 87, 102);
font-family: Arial;
font-weight: bold;
}
a{
    text-decoration: none;
    color: rgb(3, 19, 40);
}
::-webkit-scrollbar{
    background-color: rgba(16, 115, 135, 0.579);}
::-webkit-scrollbar-thumb{
    background-color: rgba(28, 189, 217, 0.753);
    border-radius: 5px;
   
}
.mandarinka{
    color: rgb(78, 162, 236);
    text-decoration: underline;
    text-decoration-color:rgb(78, 162, 236) ;
}
.sobaka{
    color: rgb(37, 156, 180);
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

