
body{
    background-color:rgb(136, 45, 23);

}

.cont{
    display: flex;
    flex-direction: row;
}
.kit{
  font-size: 20px;
  margin-top: 30px;
}
.foxtrot{
    margin:5%;
}

.Winion{
    font-family:Monotype Corsiva;
    font-size: 40px;
    
}
body{

background-size:cover;
margin: 0;
padding: 0;
height: 150px; 
}
header{
color: rgb(111, 28, 28);
background-color: rgb(190, 64, 64);
text-align: center;
font-size: 70px;
font-weight: bolder;
height: 100px;
width: auto;
font-family:Arial ;

}


nav{
font-weight: bold;
color: rgb(103, 13, 13);
background-color:rgb(190, 64, 64) ;
font-size: 30px;
text-align: center;
font-family: Arial;
display: flex;
justify-content: space-around;
}
a{
text-decoration: none;
color: rgb(111, 28, 28);
}
.zivchuk{
color:rgb(188, 19, 19) ;
text-decoration: underline;
}

.TZK:hover{
    transform: scale(1.1);
}
.TZK{
    transition: 0.6s;
}




